<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>

<body>
<table border="1">
    <tr>
        <th>Model</th>
        <th>Color</th>
        <th>Series</th>
    </tr>
    <tr th:each="car : ${carsList}">
        <td th:text="${car.id}">id</td>
        <td th:text="${car.model}">model</td>
        <td th:text="${car.series}">Series</td>

    </tr>
</table>
</body>

</html>